{
	"presets": ["es2015", "react"],
	"plugins": [
		["module-resolver", {
			"alias": {
				"actions": "./client/actions",
				"components": "./client/components",
				"constants": "./client/constants",
				"reducers": "./client/reducers",
				"stores": "./client/stores",
			},
		}],
	],
}
