{
  "parser": "esprima-fb",
  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "no-mixed-requires": [0, false],
    "camelcase": [2, {"properties": "always"}],
    "quotes": [2, "single", "avoid-escape"],
    "strict": [2, "global"],
    "semi": [2, "always"],
    "curly": 1,
    "no-underscore-dangle": 2,
    "no-bitwise": 1,
    "max-len": [1, 110, 4],
    "vars-on-top": 2,
    "guard-for-in": 1,
    "no-shadow-restricted-names": 2,
    "no-shadow": 0,
    "no-console": 2,
    "no-constant-condition": 2,
    "no-underscore-dangle": 2,
    "react/display-name": 0,
    "react/jsx-quotes": [2, "double", "avoid-escape"],
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 2
  },

  "ecmaFeatures": {
    "jsx": true
  },

  "plugins": [ "react" ],

  "globals": {
    "require": "true",
    "module": "true",
  }
}
