h2 {
  margin-bottom: 20px;
}

.jumbotron {
  margin-top: 100px;
  overflow: hidden;
}

.github,
.token {
  padding-left: 0;
}

.github h3 {
  text-align: right;
}

@media (max-width: 767px) {
  .github,
  .token {
    width: 100%;
    padding: 0;
  }
  .github h3 {
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .github,
  .token {
    width: 50%;
  }
}
