{
  "server": {
    "port": 8080,
    "hostname": "localhost"
  },
  "github": {
    "token": {
      "public": [GITHUB_CLIENT_ID],
      "secret": [GITHUB_CLIENT_SECRET]
    },
    "scope": ["repo", "user"]
  }
}
