server:
  port: 8080
  hostname: 127.0.0.1
  host: 127.0.0.1:8080

app:
  is-title-displayed: false

github:
  token:
    public: [GITHUB_CLIENT_ID]
    secret: [GITHUB_CLIENT_SECRET]
  scope: ["repo", "user", "read:org"]
  poll-timeout: 60

